.app .background {
    flex: 1 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 80vh;

    .mask {
        height: 100%;
    }
}